:root {
  --clr1: #e9e9e9;
  --clr2: #222;
  --clr3: #f5f5f5;
  --BS: 0px 0px 14px 4px #9f9f9f;
  --BR: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--clr1);
  color: var(--clr2);
  height: 95vh;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

/* button */
header button,
.actions-container button,
.close-btn {
  cursor: pointer;
  border: none;
  background: var(--clr2);
  padding: 0.8rem 1.2rem;
  border-radius: var(--BR);
  box-shadow: var(--BS);
  color: var(--clr3);
}
/* helpers */
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.center {
  text-align: center;
}
/* header */
header {
  /* background-color: red; */
}

/* names-list */
.names-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  /* background-color: red; */
}

.name-preview {
  background-color: #fff;
  box-shadow: var(--BS);
  color: #444;
  padding: 1rem;
  border-radius: var(--BR);
}

.name-preview button {
  border: none;
  background: none;
}

/* dialog */
.dialog {
  height: 50vh;
  width: 50vw;
  flex-direction: column;
  border: none;
  box-shadow: var(--BS);
}

.dialog label {
  width: 100%;
  justify-content: space-between;
  height: 10%;
}
label input {
  flex: 1;
  max-width: 50%;
  margin: 0.5em;
}

dialog .actions-container {
  width: 100%;
  align-self: flex-end;
}

/* pages */
/* about */
.about {
  padding: 0 0.5rem;
  box-shadow: var(--BS);
  min-width: 20vw;
  max-width: 25vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-110%);
  flex-direction: column;
  background-color: var(--clr1);
}

.about.open {
  transform: translateX(0);
}

.about-container {
  height: 100%;
}
.menu-icon {
  padding: 0.8rem;
  border: none;
  background: none;
  max-width: 50px;
  height: inherit;
}

.icon {
  width: 50%;
  height: 50%;
  color: var(--clr1);
}

.close-btn {
  padding: 2% 5%;
  position: absolute;
  margin-top: 8%;
  top: 0;
  right: 0;
  transform: translateX(50%);
}

.info-container {
  flex: 1;
}
.social-media,
.img-container,
.about-title,
.info {
  background-color: #fff;
  width: 100%;
  margin-bottom: 5%;
  box-shadow: var(--BS);
  padding: 0.5rem;
  border-radius: 0.5em;
}
.about-title {
  padding: 1% 1%;
  border-radius: 0.3em;
}

.fa-brands {
  color: #555;
  font-size: 2rem;
  font-style: normal;
}
.fa-brands:hover {
  color: #222;
  border-radius: var(--BR);
}

.img-container {
  max-width: 100%;
}

.img-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.item-details {
  background-color: #fff;
  box-shadow: var(--BS);
  border-radius: var(--BR);
  padding: 0.5rem 1rem;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 75vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

.item-details .actions-container {
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s ease-in-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.connect-action button.connect {
  background: none;
  border: none;
  padding: 1rem;
  border-radius: var(--BR);
  background-color: #555;
  color: var(--clr3);
}

.connect-mail {
  flex-direction: column;

  padding: 0 2rem;
}
.connect-mail label {
  width: 100%;
}
.connect-mail input {
  width: inherit;
}
.connect-mail textarea {
  margin-bottom: 2%;
}

.connect-mail .actions-container {
  justify-content: end;
}
.connect-mail .actions-container > button:first-child {
  margin-inline-end: 5%;
}

.connect-mail span {
  color: red;
}

.fall-back {
  /* margin-top: 50%; */
  color: hsl(0deg 0% 0% / 39%);
}

/* user msg */
.user-msg {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.8rem 1.2rem;
  background-color: #444;
  margin: 0.5em;
  border-radius: 0.5em;
  color: var(--clr3);
  text-decoration: overline;
}

/* teleport */
.activities-container {
  overflow-y: scroll;
  width: 50vh;
  height: 100vh;
  background: var(--clr1);
  box-shadow: var(--BS);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
.activities-container article {
  width: 100%;
  border-bottom: 1px solid var(--clr2);
}
.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
